body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2rem;
  color: white;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  color: #1AC96F;
}

a:hover{
  color: #1AC9B4;
}

/* video + overlay styles */

.head-container {
  display: grid;
  min-width: 100%;
  margin: 0;
}

.head-container video {
  grid-column: 1;
  grid-row: 1;
  /*min-height: 600px;*/
  min-width: 100%;
  height: auto;
}

.head-container img {
  grid-column: 1;
  grid-row: 1;
  min-width:100%;
}

.vid-overlay {
  align-self: center;
  grid-column: 1;
  grid-row: 1;
  background-color: rgba(0,0,0,0.3);
  margin-left: 8rem;
  margin-right: 8rem;
}

.vid-overlay h2{
  text-align: center;
  font-size: 5rem;
  font-weight: 300;
}

.img-overlay {
  align-self: center;
  grid-column: 1;
  grid-row: 1;
  background-color: rgba(0,0,0,0.3);
  padding: 20px;
  margin-left: 2rem;
  margin-right: 20rem;
}

.proj-overlay h2{
  text-align: left;
  font-size: 4rem;
  font-weight: 300;
}

.title-overlay {
  align-self: top;
  grid-column: 1;
  grid-row: 1;
  background-color: rgba(0,0,0,0.3);
}

.title-overlay h1{
  text-align: center;
  font-size: 3rem;
  font-weight: 1100;
}

.wrapper {
  padding: 1rem;
  min-width: 100%;
}

/* column styles */

.col_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: .5rem;
  align-items: start;
}

.col_item {
  border-radius: .2rem;
  background-color: #ABABAB;
  padding: .5rem;
}

.col_title--wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
  align-items: center;

}

.col_title--wrapper h2 {
  font-weight: 700;
  font-size: 1.4rem;
}

.col_title--wrapper h3 {
  text-align: right;
  font-weight: 350;
  font-size: 1.4rem;
  font-style: italic;
}

/* project styles */

.proj_list {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  margin: .5rem 0;
}

.proj_item {
  background-color: white;
  border-radius: .25rem;
  box-shadow: 0 2px 0 rgba(111,111,111,.75);
  /*padding: .5rem;*/
}

.proj_item img{
  display: block;
  width: 100%;
  /*margin-bottom: .25rem;*/
}

.proj_text {
  font-size: .9rem;
  background-color: white;
  border-radius: .25rem;
  box-shadow: 0 2px 0 rgba(111,111,111,.75);
  color: #595959;
  padding: 0.25rem;
}

.proj_text img{
  width: 30%;
  height: 30%;
  display: inline;
}
