html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 0.8rem;
  color: white;
}

img {
  max-width: 100%;
  display: block;
}

.grid{
  grid-auto-flow: dense;
}

.player {
  grid-column: 1 / -1;
  min-height: 400px;
}

.container {
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.footer {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: #666666;
}

.footer .cr {
  text-size: 0.25rem
}

.footer ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.footer li {
  list-style: none;
}

.footer a {
  text-decoration: none;
  color: gray;
  padding: 0.1rem;
  display: block;
}

.navbar {
  grid-column: 1 / -1;
}

.item {
  background: #666666;
  border-radius: 3px;
  padding: 5px;
}

.img {
  padding: 0px;
}
