html,

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
/*  position: fixed;*/
  left: 0;
  top: 0;
  min-width: 100%;
  height: auto;
/*  min-height: 100%;*/
}

/* Add some content at the bottom of the video/page */
.content {
/*  position: fixed;*/
  top: 20%;
  background: rgba(0, 0, 0, 0.3);
  color: #f1f1f1;
  width: 80%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}


body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  color: white;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  text-align: center;
  font-size: 80px;
  font-weight: 300;
}

.grid{
  grid-auto-flow: dense;
}

.player {
  grid-column: 1 / -1;
  /*min-height: 400px;
  max-width: 1600px;*/
}

.container {
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 1600px;
}

.footer {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: #666666;
}

.footer .cr {
  text-size: 0.25rem
}

.footer ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.footer li {
  list-style: none;
}

.footer a {
  text-decoration: none;
  color: gray;
  padding: 0.1rem;
  display: block;
}

.navbar {
  grid-column: 1 / -1;
}

.item {
  background: #666666;
  border-radius: 3px;
  padding: 5px;
}

.img {
  padding: 0px;
}
